body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;

}

header {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

body {
    
    background-image: url('https://i.pinimg.com/originals/33/27/e7/3327e7ce338f5a370756ae51692de65e.jpg'); 
    
    
    background-size: cover;
    
    
    background-position: center;
    
   
    background-repeat: no-repeat;
    
   
    background-attachment: fixed;
    
   
    color: white; 
    text-align: center;
    padding-top: 50px;
}


h1, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.imagem-com-opacidade {
  opacity: 0.5; 
}


.imagem-com-opacidade:hover {
  opacity: 1.0; 
}
.imagem-com-opacidade {
  opacity: 0.5; 
}


.imagem-com-opacidade:hover {
  opacity: 1.0; 
}
